.navigation {
  
    &__checkbox {
        display: none;
    }

    &__button {
        position: fixed;
        top: 3rem;
        right: 6rem;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-color: $color-white;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.4);
        cursor: pointer;
        text-align: center;
        z-index: 1000;
    }

    &__background {
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 50%;
        position: fixed;
        top: 3.2rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        transition: transform 1.2s cubic-bezier(0.86, 0, 0.07, 1);
        z-index: 500;
    }

    &__checkbox:checked ~ &__background{
        transform: scale(200);
    }

    &__checkbox:checked ~ &__nav{
        opacity: 1;        
        visibility: visible;
    }

    &__checkbox:checked ~ &__nav  &__list &__item{
        transform: translateX(0);
        opacity: 1;
    }

    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 1.2s .3s;
        z-index: 800;
    }


    &__list {
        @include absCenter;
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
        opacity: 0;
        transition: all 1.2s .5s;

        &:nth-child(1){ transform: translateX(10rem); }
        &:nth-child(2){ transform: translateX(20rem); }
        &:nth-child(3){ transform: translateX(30rem); }
        &:nth-child(4){ transform: translateX(40rem); }
        &:nth-child(5){ transform: translateX(50rem); }
    }


    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .6s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    &__icon{
        position: relative;
        margin-top: 3rem;


        &, &::before, &::after{
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark;
            display: inline-block;
            transition: all .6s;
        }

        &::before,&::after{
            content: "";
            position: absolute;
            left: .5rem;
            width: 2rem;
            text-align: center;
        }

        &::before{ transform: translateY(-.8rem);}
        &::after{transform: translateY(.8rem);}

    }
    
    &__button:hover  &__icon::before{ transform: translateY(-1.2rem);}
    &__button:hover &__icon::after{transform: translateY(1.2rem);}

    &__checkbox:checked + &__button &__icon{ background-color: transparent;}
    &__checkbox:checked + &__button &__icon::before{ transform: rotate(-45deg); top: 0;}
    &__checkbox:checked +&__button &__icon::after{transform: rotate(45deg); top: 0;}

}
